/* START Reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END Reset default styles */


/* START Generic elements */
body {
  /*font:normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
  /*font-family: proxima-nova, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  color: #eee;
}

h2 {
  font-style: normal;
  font-weight: 600;

  font-size: 4rem;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
}
section {
  margin-top: 3em;
  margin-bottom: 3em;
}

.left {
  float: left;
}
.right {
  float: right;
}
.footer {
  text-align: center;
}

/* END Generic elements */


/* START Classes */
.background {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;

  background-color: #131313;

  opacity: 0.3;
  background: url("images/subtle_white_feathers.png"); 

  z-index: -1;
}

.title {
  font-weight: 300;
  font-size: 2.8em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: .1em;
  color: #111133;
}

.logo {
  padding: 0;
  margin: 0;

  height: inherit;

  height: 250px;
  margin-top: -100px;

  overflow: hidden;
}

.section-blue {
  background: radial-gradient(7em circle at 0% 50%, rgba(199,215,255, 0.5), rgba(255,255,255,0));
}

.content-buffer {
  width: 100%;
  height: 40%;
  max-height: 600px;
}

.gene-img {
  border-radius: 50%;
  margin-left: 10%;

  border: 7px solid #f1f1f1;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  height: auto;
  margin: 0 auto;
  border: 7px solid #f1f1f1;
}

.team-member h4 {
  margin-top: 25px;
  font-size: 14px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.footer {
  margin-top: 1rem;
}
.footer a {
  text-decoration: underline;
  color: black;
}
/* END Classes */


/*
  Malik Dellidj - @Dathink

  Solar System orbit animation true time scaled

  Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)
*/
.solar-syst {
  position: absolute;
  top: 0;
  left: -25%;

  margin: 0 auto;
  width: 100%;
  height: 50%;

  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);

  pointer-events: none;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 357px 160px 0 0px rgba(255, 255, 255, 0.053) , 151px 629px 0 0px rgba(0,0,0, 0.296) , 778px 561px 0 0px rgba(0,0,0, 0.131) , 485px 873px 0 0px rgba(0,0,0, 0.263) , 848px 843px 0 0px rgba(0,0,0, 0.179) , 1770px 885px 0 0px rgba(0,0,0, 0.163) , 914px 678px 0 0px rgba(0,0,0, 0.002) , 39px 1722px 0 0px rgba(0,0,0, 0.033) , 42px 86px 0 0px rgba(0,0,0, 0.219) , 1351px 1715px 0 0px rgba(0,0,0, 0.193) , 1330px 914px 0 0px rgba(0,0,0, 0.219) , 208px 39px 0 0px rgba(0,0,0, 0.282) , 1746px 623px 0 0px rgba(0,0,0, 0.109) , 179px 1561px 0 0px rgba(0,0,0, 0.288) , 1035px 126px 0 0px rgba(0,0,0, 0.228) , 1708px 470px 0 0px rgba(0,0,0, 0.272) , 352px 1300px 0 0px rgba(0,0,0, 0.133) , 1306px 1063px 0 0px rgba(0,0,0, 0.085) , 580px 964px 0 0px rgba(0,0,0, 0.115) , 407px 1099px 0 0px rgba(0,0,0, 0.224) , 1382px 266px 0 0px rgba(0,0,0, 0.066) , 661px 107px 0 0px rgba(0,0,0, 0.272) , 1732px 1364px 0 0px rgba(0,0,0, 0.112) , 1162px 554px 0 0px rgba(0,0,0, 0.233) , 247px 125px 0 0px rgba(0,0,0, 0.179) , 1466px 1404px 0 0px rgba(0,0,0, 0.297) , 638px 772px 0 0px rgba(0,0,0, 0.114) , 1600px 685px 0 0px rgba(0,0,0, 0.03) , 967px 164px 0 0px rgba(0,0,0, 0.152) , 996px 169px 0 0px rgba(0,0,0, 0.225) , 1341px 393px 0 0px rgba(0,0,0, 0.292) , 1541px 119px 0 0px rgba(0,0,0, 0.226) , 1693px 650px 0 0px rgba(0,0,0, 0.048) , 115px 1543px 0 0px rgba(0,0,0, 0.011) , 877px 1482px 0 0px rgba(0,0,0, 0.009) , 1018px 568px 0 0px rgba(0,0,0, 0.022) , 838px 1174px 0 0px rgba(0,0,0, 0.272) , 908px 1073px 0 0px rgba(0,0,0, 0.206) , 1082px 1241px 0 0px rgba(0,0,0, 0.175) , 850px 1064px 0 0px rgba(0,0,0, 0.267) , 78px 92px 0 0px rgba(0,0,0, 0.094) , 155px 166px 0 0px rgba(0,0,0, 0.079) , 1103px 1433px 0 0px rgba(0,0,0, 0.213) , 1717px 1315px 0 0px rgba(0,0,0, 0.003) , 1397px 54px 0 0px rgba(0,0,0, 0.121) , 1627px 1375px 0 0px rgba(0,0,0, 0.157) , 1397px 91px 0 0px rgba(0,0,0, 0.213) , 1101px 928px 0 0px rgba(0,0,0, 0.027) , 195px 312px 0 0px rgba(0,0,0, 0.16) , 732px 414px 0 0px rgba(0,0,0, 0.135) , 1592px 881px 0 0px rgba(0,0,0, 0.273) , 238px 108px 0 0px rgba(0,0,0, 0.25) , 1072px 1079px 0 0px rgba(0,0,0, 0.167) , 1278px 1259px 0 0px rgba(0,0,0, 0.264) , 1513px 1119px 0 0px rgba(0,0,0, 0.163) , 170px 107px 0 0px rgba(0,0,0, 0.005) , 56px 200px 0 0px rgba(0,0,0, 0.201) , 451px 976px 0 0px rgba(0,0,0, 0.189) , 1755px 31px 0 0px rgba(0,0,0, 0.131) , 459px 14px 0 0px rgba(0,0,0, 0.002) , 1559px 1240px 0 0px rgba(0,0,0, 0.21) , 668px 1419px 0 0px rgba(0,0,0, 0.194) , 989px 1644px 0 0px rgba(0,0,0, 0.147) , 578px 744px 0 0px rgba(0,0,0, 0.162) , 248px 914px 0 0px rgba(0,0,0, 0.217) , 131px 1419px 0 0px rgba(0,0,0, 0.113) , 228px 612px 0 0px rgba(0,0,0, 0.035) , 611px 1531px 0 0px rgba(0,0,0, 0.169) , 84px 274px 0 0px rgba(0,0,0, 0.064) , 27px 180px 0 0px rgba(0,0,0, 0.232) , 281px 846px 0 0px rgba(0,0,0, 0.131) , 1040px 1555px 0 0px rgba(0,0,0, 0.148) , 1412px 1394px 0 0px rgba(0,0,0, 0.019) , 926px 966px 0 0px rgba(0,0,0, 0.001) , 607px 527px 0 0px rgba(0,0,0, 0.088) , 137px 98px 0 0px rgba(0,0,0, 0.207) , 905px 1276px 0 0px rgba(0,0,0, 0.279) , 826px 1698px 0 0px rgba(0,0,0, 0.273) , 1032px 723px 0 0px rgba(0,0,0, 0.209) , 581px 501px 0 0px rgba(0,0,0, 0.067) , 1330px 1216px 0 0px rgba(0,0,0, 0.286) , 782px 440px 0 0px rgba(0,0,0, 0.022) , 558px 1761px 0 0px rgba(0,0,0, 0.093) , 1634px 370px 0 0px rgba(0,0,0, 0.02) , 822px 1329px 0 0px rgba(0,0,0, 0.06) , 455px 304px 0 0px rgba(0,0,0, 0.07) , 455px 1670px 0 0px rgba(0,0,0, 0.278) , 1224px 1568px 0 0px rgba(0,0,0, 0.264) , 557px 94px 0 0px rgba(0,0,0, 0.009) , 546px 129px 0 0px rgba(0,0,0, 0.017) , 681px 996px 0 0px rgba(0,0,0, 0.024) , 891px 155px 0 0px rgba(0,0,0, 0.248) , 407px 791px 0 0px rgba(0,0,0, 0.128) , 152px 1518px 0 0px rgba(0,0,0, 0.108) , 949px 692px 0 0px rgba(0,0,0, 0.231) , 325px 605px 0 0px rgba(0,0,0, 0.196) , 698px 1694px 0 0px rgba(0,0,0, 0.159) , 1733px 159px 0 0px rgba(0,0,0, 0.136) , 750px 1527px 0 0px rgba(0,0,0, 0.133) , 1128px 1623px 0 0px rgba(0,0,0, 0.129) , 26px 1415px 0 0px rgba(0,0,0, 0.261) , 888px 857px 0 0px rgba(0,0,0, 0.106) , 443px 1108px 0 0px rgba(0,0,0, 0.038) , 444px 1650px 0 0px rgba(0,0,0, 0.084) , 741px 572px 0 0px rgba(0,0,0, 0.02) , 824px 692px 0 0px rgba(0,0,0, 0.259) , 1748px 814px 0 0px rgba(0,0,0, 0.056) , 949px 242px 0 0px rgba(0,0,0, 0.207) , 1687px 516px 0 0px rgba(0,0,0, 0.238) , 88px 1679px 0 0px rgba(0,0,0, 0.247) , 849px 369px 0 0px rgba(0,0,0, 0.028) , 1564px 1611px 0 0px rgba(0,0,0, 0.107) , 646px 1792px 0 0px rgba(0,0,0, 0.138) , 549px 289px 0 0px rgba(0,0,0, 0.093) , 462px 1773px 0 0px rgba(0,0,0, 0.171) , 693px 166px 0 0px rgba(0,0,0, 0.151) , 135px 1639px 0 0px rgba(0,0,0, 0.138) , 306px 216px 0 0px rgba(0,0,0, 0.033) , 294px 1760px 0 0px rgba(0,0,0, 0.09) , 209px 415px 0 0px rgba(0,0,0, 0.143) , 1028px 484px 0 0px rgba(0,0,0, 0.153) , 507px 1282px 0 0px rgba(0,0,0, 0.083) , 324px 424px 0 0px rgba(0,0,0, 0.079) , 138px 1668px 0 0px rgba(0,0,0, 0.243) , 584px 141px 0 0px rgba(0,0,0, 0.026) , 693px 985px 0 0px rgba(0,0,0, 0.124) , 497px 174px 0 0px rgba(0,0,0, 0.067) , 274px 1206px 0 0px rgba(0,0,0, 0.216) , 199px 33px 0 0px rgba(0,0,0, 0.032) , 1167px 931px 0 0px rgba(0,0,0, 0.217) , 101px 257px 0 0px rgba(0,0,0, 0.239) , 862px 1486px 0 0px rgba(0,0,0, 0.005) , 1493px 1250px 0 0px rgba(0,0,0, 0.095) , 687px 1319px 0 0px rgba(0,0,0, 0.05) , 18px 831px 0 0px rgba(0,0,0, 0.284) , 727px 629px 0 0px rgba(0,0,0, 0.297) , 843px 708px 0 0px rgba(0,0,0, 0.08) , 1655px 1205px 0 0px rgba(0,0,0, 0.294) , 1413px 1678px 0 0px rgba(0,0,0, 0.136) , 1479px 505px 0 0px rgba(0,0,0, 0.007) , 284px 397px 0 0px rgba(0,0,0, 0.258) , 1516px 554px 0 0px rgba(0,0,0, 0.208) , 628px 177px 0 0px rgba(0,0,0, 0.212) , 579px 1015px 0 0px rgba(0,0,0, 0.034) , 1006px 1795px 0 0px rgba(0,0,0, 0.184) , 978px 674px 0 0px rgba(0,0,0, 0.197) , 436px 783px 0 0px rgba(0,0,0, 0.101) , 1429px 1487px 0 0px rgba(0,0,0, 0.145) , 338px 773px 0 0px rgba(0,0,0, 0.134) , 1078px 1244px 0 0px rgba(0,0,0, 0.003) , 1714px 792px 0 0px rgba(0,0,0, 0.081) , 148px 220px 0 0px rgba(0,0,0, 0.023) , 1187px 774px 0 0px rgba(0,0,0, 0.051) , 713px 355px 0 0px rgba(0,0,0, 0.028) , 1454px 2px 0 0px rgba(0,0,0, 0.122) , 1389px 91px 0 0px rgba(0,0,0, 0.14) , 1181px 746px 0 0px rgba(0,0,0, 0.034) , 1734px 603px 0 0px rgba(0,0,0, 0.237) , 1558px 372px 0 0px rgba(0,0,0, 0.049) , 1241px 1463px 0 0px rgba(0,0,0, 0.203) , 327px 891px 0 0px rgba(0,0,0, 0.04) , 1264px 1308px 0 0px rgba(0,0,0, 0.096) , 1719px 1649px 0 0px rgba(0,0,0, 0.032) , 562px 1304px 0 0px rgba(0,0,0, 0.138) , 1479px 1320px 0 0px rgba(0,0,0, 0.075) , 1507px 1496px 0 0px rgba(0,0,0, 0.214) , 30px 485px 0 0px rgba(0,0,0, 0.141) , 372px 679px 0 0px rgba(0,0,0, 0.149) , 1222px 1203px 0 0px rgba(0,0,0, 0.264) , 697px 24px 0 0px rgba(0,0,0, 0.119) , 1689px 855px 0 0px rgba(0,0,0, 0.124) , 883px 194px 0 0px rgba(0,0,0, 0.147) , 1445px 722px 0 0px rgba(0,0,0, 0.001) , 65px 1105px 0 0px rgba(0,0,0, 0.138) , 834px 270px 0 0px rgba(0,0,0, 0.21) , 513px 739px 0 0px rgba(0,0,0, 0.242) , 1464px 755px 0 0px rgba(0,0,0, 0.136) , 988px 1101px 0 0px rgba(0,0,0, 0.007) , 1032px 1278px 0 0px rgba(0,0,0, 0.259) , 870px 697px 0 0px rgba(0,0,0, 0.104) , 971px 1195px 0 0px rgba(0,0,0, 0.213) , 1642px 1149px 0 0px rgba(0,0,0, 0.076) , 1775px 990px 0 0px rgba(0,0,0, 0.044) , 1342px 323px 0 0px rgba(0,0,0, 0.297) , 1389px 1533px 0 0px rgba(0,0,0, 0.182) , 1057px 484px 0 0px rgba(0,0,0, 0.094) , 456px 1514px 0 0px rgba(0,0,0, 0.13) , 589px 7px 0 0px rgba(0,0,0, 0.065) , 361px 698px 0 0px rgba(0,0,0, 0.193) , 1120px 917px 0 0px rgba(0,0,0, 0.079) , 1388px 534px 0 0px rgba(0,0,0, 0.158) , 799px 1464px 0 0px rgba(0,0,0, 0.069) , 962px 988px 0 0px rgba(0,0,0, 0.037) , 570px 265px 0 0px rgba(0,0,0, 0.148) , 354px 725px 0 0px rgba(0,0,0, 0.071) , 1277px 1029px 0 0px rgba(0,0,0, 0.287) , 557px 1743px 0 0px rgba(0,0,0, 0.027) , 873px 253px 0 0px rgba(0,0,0, 0.294) , 841px 1118px 0 0px rgba(0,0,0, 0.13) , 1050px 1578px 0 0px rgba(0,0,0, 0.183) , 1785px 1583px 0 0px rgba(0,0,0, 0.028) , 947px 46px 0 0px rgba(0,0,0, 0.16) , 540px 976px 0 0px rgba(0,0,0, 0.114) , 1718px 866px 0 0px rgba(0,0,0, 0.056) , 1206px 1273px 0 0px rgba(0,0,0, 0.201) , 375px 175px 0 0px rgba(0,0,0, 0.045) , 622px 1068px 0 0px rgba(0,0,0, 0.082) , 460px 1490px 0 0px rgba(0,0,0, 0.148) , 1056px 263px 0 0px rgba(0,0,0, 0.265) , 1561px 1598px 0 0px rgba(0,0,0, 0.052) , 1377px 1549px 0 0px rgba(0,0,0, 0.03) , 336px 71px 0 0px rgba(0,0,0, 0.066) , 1658px 248px 0 0px rgba(0,0,0, 0.268) , 1227px 1464px 0 0px rgba(0,0,0, 0.193) , 1378px 1205px 0 0px rgba(0,0,0, 0.094) , 1617px 664px 0 0px rgba(0,0,0, 0.094) , 1532px 546px 0 0px rgba(0,0,0, 0.125) , 1048px 377px 0 0px rgba(0,0,0, 0.117) , 562px 967px 0 0px rgba(0,0,0, 0.117) , 703px 767px 0 0px rgba(0,0,0, 0.215) , 868px 1216px 0 0px rgba(0,0,0, 0.217) , 1120px 369px 0 0px rgba(0,0,0, 0.146) , 600px 401px 0 0px rgba(0,0,0, 0.056) , 969px 1696px 0 0px rgba(0,0,0, 0.054) , 1621px 1780px 0 0px rgba(0,0,0, 0.234) , 384px 768px 0 0px rgba(0,0,0, 0.186) , 1334px 857px 0 0px rgba(0,0,0, 0.019) , 659px 1230px 0 0px rgba(0,0,0, 0.107) , 53px 601px 0 0px rgba(0,0,0, 0.04) , 521px 847px 0 0px rgba(0,0,0, 0.046) , 1102px 157px 0 0px rgba(0,0,0, 0.092) , 1371px 939px 0 0px rgba(0,0,0, 0.241) , 197px 507px 0 0px rgba(0,0,0, 0.034) , 880px 1274px 0 0px rgba(0,0,0, 0.1) , 1655px 1296px 0 0px rgba(0,0,0, 0.186) , 390px 1365px 0 0px rgba(0,0,0, 0.057) , 578px 1016px 0 0px rgba(0,0,0, 0.204) , 1722px 55px 0 0px rgba(0,0,0, 0.276) , 1176px 245px 0 0px rgba(0,0,0, 0.089) , 464px 840px 0 0px rgba(0,0,0, 0.19) , 389px 994px 0 0px rgba(0,0,0, 0.298) , 1703px 141px 0 0px rgba(0,0,0, 0.147) , 616px 1451px 0 0px rgba(0,0,0, 0.248) , 82px 696px 0 0px rgba(0,0,0, 0.093) , 906px 41px 0 0px rgba(0,0,0, 0.14) , 1144px 1269px 0 0px rgba(0,0,0, 0.237) , 1643px 1079px 0 0px rgba(0,0,0, 0.215) , 1032px 274px 0 0px rgba(0,0,0, 0.072) , 641px 86px 0 0px rgba(0,0,0, 0.104) , 661px 505px 0 0px rgba(0,0,0, 0.004) , 1614px 1373px 0 0px rgba(0,0,0, 0.11) , 1240px 1581px 0 0px rgba(0,0,0, 0.02) , 1518px 1367px 0 0px rgba(0,0,0, 0.062) , 1515px 1636px 0 0px rgba(0,0,0, 0.286) , 1719px 875px 0 0px rgba(0,0,0, 0.008) , 874px 1337px 0 0px rgba(0,0,0, 0.248) , 344px 1339px 0 0px rgba(0,0,0, 0.173) , 1517px 1464px 0 0px rgba(0,0,0, 0.239) , 504px 1478px 0 0px rgba(0,0,0, 0.28) , 1651px 826px 0 0px rgba(0,0,0, 0.149) , 1700px 432px 0 0px rgba(0,0,0, 0.007) , 614px 893px 0 0px rgba(0,0,0, 0.025) , 388px 851px 0 0px rgba(0,0,0, 0.229) , 1577px 1029px 0 0px rgba(0,0,0, 0.069) , 1530px 1440px 0 0px rgba(0,0,0, 0.087) , 832px 1007px 0 0px rgba(0,0,0, 0.169) , 190px 505px 0 0px rgba(0,0,0, 0.03) , 1237px 468px 0 0px rgba(0,0,0, 0.104) , 1052px 693px 0 0px rgba(0,0,0, 0.066) , 1435px 620px 0 0px rgba(0,0,0, 0.115) , 1355px 1298px 0 0px rgba(0,0,0, 0.008) , 1568px 390px 0 0px rgba(0,0,0, 0.156) , 1728px 1081px 0 0px rgba(0,0,0, 0.117) , 1301px 551px 0 0px rgba(0,0,0, 0.074) , 726px 924px 0 0px rgba(0,0,0, 0.241) , 300px 1674px 0 0px rgba(0,0,0, 0.182) , 1786px 685px 0 0px rgba(0,0,0, 0.084) , 1781px 555px 0 0px rgba(0,0,0, 0.23) , 164px 15px 0 0px rgba(0,0,0, 0.277) , 1609px 155px 0 0px rgba(0,0,0, 0.023) , 334px 914px 0 0px rgba(0,0,0, 0.182) , 344px 411px 0 0px rgba(0,0,0, 0.072) , 1766px 1776px 0 0px rgba(0,0,0, 0.281) , 145px 731px 0 0px rgba(0,0,0, 0.279) , 1397px 1765px 0 0px rgba(0,0,0, 0.104) , 841px 580px 0 0px rgba(0,0,0, 0.157) , 463px 541px 0 0px rgba(0,0,0, 0.116) , 391px 481px 0 0px rgba(0,0,0, 0.217) , 539px 1673px 0 0px rgba(0,0,0, 0.067) , 420px 153px 0 0px rgba(0,0,0, 0.137) , 73px 1707px 0 0px rgba(0,0,0, 0.002) , 616px 1042px 0 0px rgba(0,0,0, 0.286) , 302px 935px 0 0px rgba(0,0,0, 0.217) , 195px 1512px 0 0px rgba(0,0,0, 0.133) , 1106px 1351px 0 0px rgba(0,0,0, 0.152) , 624px 395px 0 0px rgba(0,0,0, 0.244) , 1327px 1266px 0 0px rgba(0,0,0, 0.085) , 1469px 168px 0 0px rgba(0,0,0, 0.021) , 187px 143px 0 0px rgba(0,0,0, 0.029) , 822px 460px 0 0px rgba(0,0,0, 0.12) , 974px 688px 0 0px rgba(0,0,0, 0.268) , 111px 1360px 0 0px rgba(0,0,0, 0.205) , 1180px 1407px 0 0px rgba(0,0,0, 0.194) , 524px 1465px 0 0px rgba(0,0,0, 0.15) , 861px 1128px 0 0px rgba(0,0,0, 0.21) , 1727px 413px 0 0px rgba(0,0,0, 0.234) , 213px 1669px 0 0px rgba(0,0,0, 0.252) , 1416px 804px 0 0px rgba(0,0,0, 0.106) , 396px 1103px 0 0px rgba(0,0,0, 0.264) , 856px 433px 0 0px rgba(0,0,0, 0.045) , 1463px 255px 0 0px rgba(0,0,0, 0.198) , 924px 66px 0 0px rgba(0,0,0, 0.202) , 1347px 1595px 0 0px rgba(0,0,0, 0.043) , 633px 821px 0 0px rgba(0,0,0, 0.18) , 340px 1565px 0 0px rgba(0,0,0, 0.237) , 1426px 1592px 0 0px rgba(0,0,0, 0.093) , 1508px 1360px 0 0px rgba(0,0,0, 0.029) , 963px 739px 0 0px rgba(0,0,0, 0.233) , 797px 605px 0 0px rgba(0,0,0, 0.029) , 1188px 763px 0 0px rgba(0,0,0, 0.29) , 1073px 127px 0 0px rgba(0,0,0, 0.086) , 969px 294px 0 0px rgba(0,0,0, 0.194) , 728px 477px 0 0px rgba(0,0,0, 0.058) , 686px 1215px 0 0px rgba(0,0,0, 0.202) , 1418px 1413px 0 0px rgba(0,0,0, 0.025) , 623px 1541px 0 0px rgba(0,0,0, 0.088) , 1539px 118px 0 0px rgba(0,0,0, 0.045) , 311px 280px 0 0px rgba(0,0,0, 0.153) , 93px 1528px 0 0px rgba(0,0,0, 0.025) , 1251px 1423px 0 0px rgba(0,0,0, 0.079) , 460px 1650px 0 0px rgba(0,0,0, 0.189) , 800px 840px 0 0px rgba(0,0,0, 0.299) , 303px 1603px 0 0px rgba(0,0,0, 0.207) , 244px 1656px 0 0px rgba(0,0,0, 0.241) , 737px 1576px 0 0px rgba(0,0,0, 0.043) , 772px 578px 0 0px rgba(0,0,0, 0.167) , 1062px 1400px 0 0px rgba(0,0,0, 0.182) , 1764px 154px 0 0px rgba(0,0,0, 0.125) , 1708px 10px 0 0px rgba(0,0,0, 0.145) , 1359px 1479px 0 0px rgba(0,0,0, 0.146) , 1297px 877px 0 0px rgba(0,0,0, 0.248) , 1193px 400px 0 0px rgba(0,0,0, 0.151) , 1481px 1206px 0 0px rgba(0,0,0, 0.065) , 359px 917px 0 0px rgba(0,0,0, 0.013) , 936px 759px 0 0px rgba(0,0,0, 0.225) , 184px 1317px 0 0px rgba(0,0,0, 0.156) , 1605px 224px 0 0px rgba(0,0,0, 0.058) , 351px 84px 0 0px rgba(0,0,0, 0.297) , 1607px 1656px 0 0px rgba(0,0,0, 0.184) , 979px 272px 0 0px rgba(0,0,0, 0.24) , 324px 1334px 0 0px rgba(0,0,0, 0.12) , 461px 1011px 0 0px rgba(0,0,0, 0.274) , 925px 1097px 0 0px rgba(0,0,0, 0.2) , 1678px 1284px 0 0px rgba(0,0,0, 0.187) , 1759px 1125px 0 0px rgba(0,0,0, 0.118) , 1117px 843px 0 0px rgba(0,0,0, 0.266) , 1509px 1526px 0 0px rgba(0,0,0, 0.298) , 257px 946px 0 0px rgba(0,0,0, 0.268) , 1414px 741px 0 0px rgba(0,0,0, 0.004) , 709px 473px 0 0px rgba(0,0,0, 0.179) , 532px 1127px 0 0px rgba(0,0,0, 0.047) , 1443px 1003px 0 0px rgba(0,0,0, 0.293) , 1748px 1522px 0 0px rgba(0,0,0, 0.061) , 645px 215px 0 0px rgba(0,0,0, 0.181) , 1569px 1091px 0 0px rgba(0,0,0, 0.104) , 1446px 629px 0 0px rgba(0,0,0, 0.164) , 60px 396px 0 0px rgba(0,0,0, 0.197) , 699px 1626px 0 0px rgba(0,0,0, 0.213) , 1298px 718px 0 0px rgba(0,0,0, 0.14) , 467px 1622px 0 0px rgba(0,0,0, 0.068) , 1434px 346px 0 0px rgba(0,0,0, 0.147) , 754px 921px 0 0px rgba(0,0,0, 0.267) , 996px 306px 0 0px rgba(0,0,0, 0.299) , 1584px 955px 0 0px rgba(0,0,0, 0.244) , 1209px 1552px 0 0px rgba(0,0,0, 0.233) , 1090px 1540px 0 0px rgba(0,0,0, 0.282) , 1749px 240px 0 0px rgba(0,0,0, 0.017) , 1677px 1463px 0 0px rgba(0,0,0, 0.049) , 279px 46px 0 0px rgba(0,0,0, 0.209) , 503px 1456px 0 0px rgba(0,0,0, 0.052) , 895px 969px 0 0px rgba(0,0,0, 0.277) , 1546px 494px 0 0px rgba(0,0,0, 0.069) , 723px 1596px 0 0px rgba(0,0,0, 0.233) , 112px 104px 0 0px rgba(0,0,0, 0.199) , 532px 1558px 0 0px rgba(0,0,0, 0.283) , 627px 192px 0 0px rgba(0,0,0, 0.204) , 1277px 280px 0 0px rgba(0,0,0, 0.275) , 1501px 114px 0 0px rgba(0,0,0, 0.258) , 1474px 58px 0 0px rgba(0,0,0, 0.205) , 1347px 981px 0 0px rgba(0,0,0, 0.032) , 1051px 813px 0 0px rgba(0,0,0, 0.18) , 212px 1356px 0 0px rgba(0,0,0, 0.15) , 225px 1245px 0 0px rgba(0,0,0, 0.149) , 1788px 432px 0 0px rgba(0,0,0, 0.075) , 609px 501px 0 0px rgba(0,0,0, 0.275) , 1282px 452px 0 0px rgba(0,0,0, 0.138) , 197px 35px 0 0px rgba(0,0,0, 0.097) , 1120px 1503px 0 0px rgba(0,0,0, 0.252) , 1002px 1011px 0 0px rgba(0,0,0, 0.041) , 1700px 679px 0 0px rgba(0,0,0, 0.177) , 1699px 770px 0 0px rgba(0,0,0, 0.03) , 1154px 1512px 0 0px rgba(0,0,0, 0.115) , 796px 776px 0 0px rgba(0,0,0, 0.131) , 1410px 1712px 0 0px rgba(0,0,0, 0.258) , 487px 13px 0 0px rgba(0,0,0, 0.212) , 399px 1676px 0 0px rgba(0,0,0, 0.264) , 382px 202px 0 0px rgba(0,0,0, 0.032) , 349px 388px 0 0px rgba(0,0,0, 0.237) , 674px 1158px 0 0px rgba(0,0,0, 0.258) , 1046px 1186px 0 0px rgba(0,0,0, 0.048) , 612px 525px 0 0px rgba(0,0,0, 0.076) , 115px 565px 0 0px rgba(0,0,0, 0.117) , 1285px 1291px 0 0px rgba(0,0,0, 0.077) , 1381px 1193px 0 0px rgba(0,0,0, 0.148) , 977px 1103px 0 0px rgba(0,0,0, 0.285) , 1601px 1673px 0 0px rgba(0,0,0, 0.242) , 4px 1550px 0 0px rgba(0,0,0, 0.08) , 578px 850px 0 0px rgba(0,0,0, 0.166) , 431px 1472px 0 0px rgba(0,0,0, 0.023) , 277px 267px 0 0px rgba(0,0,0, 0.261) , 608px 882px 0 0px rgba(0,0,0, 0.152) , 1149px 284px 0 0px rgba(0,0,0, 0.089) , 1633px 977px 0 0px rgba(0,0,0, 0.207) , 1169px 1342px 0 0px rgba(0,0,0, 0.294) , 1074px 1305px 0 0px rgba(0,0,0, 0.291) , 654px 1172px 0 0px rgba(0,0,0, 0.18) , 1282px 352px 0 0px rgba(0,0,0, 0.123) , 1752px 947px 0 0px rgba(0,0,0, 0.036) , 1726px 1512px 0 0px rgba(0,0,0, 0.014) , 1013px 1071px 0 0px rgba(0,0,0, 0.095) , 1581px 1126px 0 0px rgba(0,0,0, 0.177) , 475px 152px 0 0px rgba(0,0,0, 0.068) , 1354px 1788px 0 0px rgba(0,0,0, 0.268) , 1105px 964px 0 0px rgba(0,0,0, 0.279) , 361px 1573px 0 0px rgba(0,0,0, 0.163) , 522px 531px 0 0px rgba(0,0,0, 0.12) , 1776px 791px 0 0px rgba(0,0,0, 0.084) , 1307px 1450px 0 0px rgba(0,0,0, 0.042) , 1152px 207px 0 0px rgba(0,0,0, 0.257) , 605px 1297px 0 0px rgba(0,0,0, 0.043) , 1286px 118px 0 0px rgba(0,0,0, 0.022) , 375px 811px 0 0px rgba(0,0,0, 0.119) , 9px 1275px 0 0px rgba(0,0,0, 0.14) , 1624px 529px 0 0px rgba(0,0,0, 0.185) , 1484px 232px 0 0px rgba(0,0,0, 0.251) , 1198px 1702px 0 0px rgba(0,0,0, 0.042) , 480px 570px 0 0px rgba(0,0,0, 0.274) , 1690px 979px 0 0px rgba(0,0,0, 0.227) , 1025px 1386px 0 0px rgba(0,0,0, 0.114) , 1120px 1049px 0 0px rgba(0,0,0, 0.052) , 303px 1398px 0 0px rgba(0,0,0, 0.174) , 1591px 345px 0 0px rgba(0,0,0, 0.096) , 1272px 1542px 0 0px rgba(0,0,0, 0.174) , 1390px 160px 0 0px rgba(0,0,0, 0.191) , 133px 604px 0 0px rgba(0,0,0, 0.226) , 1134px 955px 0 0px rgba(0,0,0, 0.095) , 165px 7px 0 0px rgba(0,0,0, 0.272) , 1452px 1104px 0 0px rgba(0,0,0, 0.028) , 685px 1254px 0 0px rgba(0,0,0, 0.029) , 197px 926px 0 0px rgba(0,0,0, 0.065) , 1604px 1685px 0 0px rgba(0,0,0, 0.296) , 488px 1094px 0 0px rgba(0,0,0, 0.192) , 501px 1028px 0 0px rgba(0,0,0, 0.291) , 1033px 1487px 0 0px rgba(0,0,0, 0.253) , 906px 1591px 0 0px rgba(0,0,0, 0.295) , 1451px 1701px 0 0px rgba(0,0,0, 0.105) , 1491px 949px 0 0px rgba(0,0,0, 0.201) , 1320px 1454px 0 0px rgba(0,0,0, 0.166) , 601px 1498px 0 0px rgba(0,0,0, 0.173) , 371px 533px 0 0px rgba(0,0,0, 0.136) , 1501px 749px 0 0px rgba(0,0,0, 0.019) , 817px 1690px 0 0px rgba(0,0,0, 0.198) , 1630px 1093px 0 0px rgba(0,0,0, 0.221) , 1288px 1171px 0 0px rgba(0,0,0, 0.036) , 515px 595px 0 0px rgba(0,0,0, 0.246) , 201px 912px 0 0px rgba(0,0,0, 0.168) , 1238px 802px 0 0px rgba(0,0,0, 0.099) , 186px 496px 0 0px rgba(0,0,0, 0.221) , 692px 230px 0 0px rgba(0,0,0, 0.143) , 1187px 1654px 0 0px rgba(0,0,0, 0.069) , 1154px 614px 0 0px rgba(0,0,0, 0.118) , 780px 137px 0 0px rgba(0,0,0, 0.062) , 1134px 952px 0 0px rgba(0,0,0, 0.167) , 305px 1783px 0 0px rgba(0,0,0, 0.031) , 941px 608px 0 0px rgba(0,0,0, 0.26) , 934px 875px 0 0px rgba(0,0,0, 0.039) , 455px 967px 0 0px rgba(0,0,0, 0.196) , 1186px 1217px 0 0px rgba(0,0,0, 0.001) , 889px 229px 0 0px rgba(0,0,0, 0.005) , 1399px 802px 0 0px rgba(0,0,0, 0.118) , 576px 1471px 0 0px rgba(0,0,0, 0.107) , 1613px 726px 0 0px rgba(0,0,0, 0.205) , 962px 906px 0 0px rgba(0,0,0, 0.111) , 1566px 582px 0 0px rgba(0,0,0, 0.191) , 1315px 1762px 0 0px rgba(0,0,0, 0.102) , 489px 1657px 0 0px rgba(0,0,0, 0.024) , 1103px 1564px 0 0px rgba(0,0,0, 0.039) , 293px 544px 0 0px rgba(0,0,0, 0.06) , 1479px 1731px 0 0px rgba(0,0,0, 0.108) , 1726px 1276px 0 0px rgba(0,0,0, 0.201);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: -webkit-radial-gradient(center ellipse, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.18673s linear infinite;
          animation: orb 7.18673s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.45553s linear infinite;
          animation: orb 18.45553s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.24404s linear infinite;
          animation: orb 2.24404s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.42613s linear infinite;
          animation: orb 56.42613s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.72282s linear infinite;
          animation: orb 355.72282s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.69525s linear infinite;
          animation: orb 882.69525s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  -webkit-transform: rotateZ(-52deg);
          transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.69525s linear infinite;
          animation: orb 882.69525s linear infinite;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-transform-origin: 52% 60%;
          transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4002s linear infinite;
          animation: orb 2512.4002s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.78386s linear infinite;
          animation: orb 4911.78386s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: .7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.95583s linear infinite;
          animation: orb 179.95583s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -36px -111px 0 -104px rgba(255, 255, 255, 0.04) , 66px 133px 0 -104px rgba(0,0,0, 0.132) , 87px -120px 0 -104px rgba(0,0,0, 0.365) , 131px 131px 0 -104px rgba(0,0,0, 0.456) , -95px 102px 0 -104px rgba(0,0,0, 0.92) , -68px 75px 0 -104px rgba(0,0,0, 0.151) , -24px -109px 0 -104px rgba(0,0,0, 0.121) , 59px -141px 0 -104px rgba(0,0,0, 0.84) , 66px 49px 0 -104px rgba(0,0,0, 0.535) , -20px 55px 0 -104px rgba(0,0,0, 0.08) , 49px 82px 0 -104px rgba(0,0,0, 0.283) , 99px -125px 0 -104px rgba(0,0,0, 0.401) , -132px 138px 0 -104px rgba(0,0,0, 0.292) , 131px -36px 0 -104px rgba(0,0,0, 0.125) , -139px 87px 0 -104px rgba(0,0,0, 0.742) , 12px 73px 0 -104px rgba(0,0,0, 0.344) , 76px 127px 0 -104px rgba(0,0,0, 0.892) , -71px 80px 0 -104px rgba(0,0,0, 0.064) , -18px 33px 0 -104px rgba(0,0,0, 0.171) , 4px -105px 0 -104px rgba(0,0,0, 0.286) , -103px 62px 0 -104px rgba(0,0,0, 0.876) , 92px -101px 0 -104px rgba(0,0,0, 0.127) , -31px 61px 0 -104px rgba(0,0,0, 0.959) , 54px 40px 0 -104px rgba(0,0,0, 0.922) , 141px -12px 0 -104px rgba(0,0,0, 0.936) , -144px -105px 0 -104px rgba(0,0,0, 0.294) , 6px 23px 0 -104px rgba(0,0,0, 0.224) , 94px 33px 0 -104px rgba(0,0,0, 0.879) , 25px 19px 0 -104px rgba(0,0,0, 0.523) , -136px -135px 0 -104px rgba(0,0,0, 0.019) , 55px 10px 0 -104px rgba(0,0,0, 0.501) , -52px 110px 0 -104px rgba(0,0,0, 0.468) , 7px 86px 0 -104px rgba(0,0,0, 0.966) , -39px 134px 0 -104px rgba(0,0,0, 0.796) , -84px -140px 0 -104px rgba(0,0,0, 0.555) , 5px -109px 0 -104px rgba(0,0,0, 0.039) , 33px 90px 0 -104px rgba(0,0,0, 0.919) , -33px 130px 0 -104px rgba(0,0,0, 0.625) , 120px -23px 0 -104px rgba(0,0,0, 0.472) , -98px 84px 0 -104px rgba(0,0,0, 0.47) , -52px -28px 0 -104px rgba(0,0,0, 0.196) , -130px -139px 0 -104px rgba(0,0,0, 0.931) , 101px -42px 0 -104px rgba(0,0,0, 0.692) , 31px 9px 0 -104px rgba(0,0,0, 0.582) , 54px -23px 0 -104px rgba(0,0,0, 0.955) , -92px 137px 0 -104px rgba(0,0,0, 0.073) , -12px -43px 0 -104px rgba(0,0,0, 0.184) , -6px 117px 0 -104px rgba(0,0,0, 0.136) , -30px -52px 0 -104px rgba(0,0,0, 0.733) , -84px 22px 0 -104px rgba(0,0,0, 0.809) , 92px 131px 0 -104px rgba(0,0,0, 0.328) , 17px -8px 0 -104px rgba(0,0,0, 0.896) , 20px 137px 0 -104px rgba(0,0,0, 0.761) , 61px -1px 0 -104px rgba(0,0,0, 0.93) , -31px -93px 0 -104px rgba(0,0,0, 0.325) , 4px 97px 0 -104px rgba(0,0,0, 0.916) , 95px 86px 0 -104px rgba(0,0,0, 0.066) , 93px 111px 0 -104px rgba(0,0,0, 0.512) , -69px -6px 0 -104px rgba(0,0,0, 0.299) , 94px -121px 0 -104px rgba(0,0,0, 0.111) , -18px 121px 0 -104px rgba(0,0,0, 0.268) , -24px 97px 0 -104px rgba(0,0,0, 0.106) , 101px -62px 0 -104px rgba(0,0,0, 0.894) , 83px -112px 0 -104px rgba(0,0,0, 0.572) , 46px 13px 0 -104px rgba(0,0,0, 0.766) , 67px 61px 0 -104px rgba(0,0,0, 0.719) , 97px 24px 0 -104px rgba(0,0,0, 0.602) , 145px 119px 0 -104px rgba(0,0,0, 0.35) , -117px 38px 0 -104px rgba(0,0,0, 0.425) , 78px -10px 0 -104px rgba(0,0,0, 0.304) , -6px 125px 0 -104px rgba(0,0,0, 0.883) , 126px -103px 0 -104px rgba(0,0,0, 0.379) , -57px 133px 0 -104px rgba(0,0,0, 0.37) , 65px 104px 0 -104px rgba(0,0,0, 0.337) , 82px 17px 0 -104px rgba(0,0,0, 0.695) , 43px -37px 0 -104px rgba(0,0,0, 0.822) , -107px -117px 0 -104px rgba(0,0,0, 0.329) , 40px -2px 0 -104px rgba(0,0,0, 0.144) , 63px 45px 0 -104px rgba(0,0,0, 0.274) , -76px 55px 0 -104px rgba(0,0,0, 0.432) , 65px -30px 0 -104px rgba(0,0,0, 0.63) , -122px 91px 0 -104px rgba(0,0,0, 0.65) , -132px -125px 0 -104px rgba(0,0,0, 0.986) , -95px -72px 0 -104px rgba(0,0,0, 0.146) , 133px 46px 0 -104px rgba(0,0,0, 0.829) , -12px 90px 0 -104px rgba(0,0,0, 0.131) , -36px -64px 0 -104px rgba(0,0,0, 0.123) , 115px -62px 0 -104px rgba(0,0,0, 0.296) , 70px -84px 0 -104px rgba(0,0,0, 0.141) , 81px 3px 0 -104px rgba(0,0,0, 0.681) , 7px 18px 0 -104px rgba(0,0,0, 0.845) , 85px 78px 0 -104px rgba(0,0,0, 0.011) , -34px 59px 0 -104px rgba(0,0,0, 0.128) , -30px 11px 0 -104px rgba(0,0,0, 0.551) , 135px 20px 0 -104px rgba(0,0,0, 0.978) , -7px 11px 0 -104px rgba(0,0,0, 0.843) , 0px 30px 0 -104px rgba(0,0,0, 0.191) , -40px -90px 0 -104px rgba(0,0,0, 0.398) , -29px 102px 0 -104px rgba(0,0,0, 0.313) , -115px 127px 0 -104px rgba(0,0,0, 0.808) , -99px -95px 0 -104px rgba(0,0,0, 0.342) , 55px 140px 0 -104px rgba(0,0,0, 0.206) , -31px 96px 0 -104px rgba(0,0,0, 0.173) , 140px -100px 0 -104px rgba(0,0,0, 0.692) , 114px -96px 0 -104px rgba(0,0,0, 0.206) , -102px -120px 0 -104px rgba(0,0,0, 0.008) , 131px 132px 0 -104px rgba(0,0,0, 0.806) , -42px 22px 0 -104px rgba(0,0,0, 0.432) , -92px 94px 0 -104px rgba(0,0,0, 0.468) , -74px 15px 0 -104px rgba(0,0,0, 0.481) , -109px -63px 0 -104px rgba(0,0,0, 0.176) , -24px -104px 0 -104px rgba(0,0,0, 0.446) , 88px -105px 0 -104px rgba(0,0,0, 0.362) , 19px -80px 0 -104px rgba(0,0,0, 0.735) , -88px -4px 0 -104px rgba(0,0,0, 0.638) , -125px 57px 0 -104px rgba(0,0,0, 0.262) , 32px 111px 0 -104px rgba(0,0,0, 0.163) , -24px -44px 0 -104px rgba(0,0,0, 0.504) , 40px 4px 0 -104px rgba(0,0,0, 0.833) , 55px -32px 0 -104px rgba(0,0,0, 0.784) , -96px 101px 0 -104px rgba(0,0,0, 0.921) , 28px 26px 0 -104px rgba(0,0,0, 0.29) , 85px -143px 0 -104px rgba(0,0,0, 0.673) , 66px -51px 0 -104px rgba(0,0,0, 0.966) , -16px 73px 0 -104px rgba(0,0,0, 0.506) , 103px -32px 0 -104px rgba(0,0,0, 0.273) , 25px -100px 0 -104px rgba(0,0,0, 0.966) , 140px 0px 0 -104px rgba(0,0,0, 0.776) , -118px 64px 0 -104px rgba(0,0,0, 0.608) , -20px -115px 0 -104px rgba(0,0,0, 0.871) , 62px 84px 0 -104px rgba(0,0,0, 0.935) , 62px 70px 0 -104px rgba(0,0,0, 0.547) , 32px 87px 0 -104px rgba(0,0,0, 0.33) , 117px 95px 0 -104px rgba(0,0,0, 0.986) , 15px -26px 0 -104px rgba(0,0,0, 0.074) , -135px 115px 0 -104px rgba(0,0,0, 0.012) , -50px 65px 0 -104px rgba(0,0,0, 0.309) , -65px -5px 0 -104px rgba(0,0,0, 0.977) , -41px 107px 0 -104px rgba(0,0,0, 0.233) , 46px 123px 0 -104px rgba(0,0,0, 0.527) , 112px -80px 0 -104px rgba(0,0,0, 0.689) , 14px 97px 0 -104px rgba(0,0,0, 0.807) , 80px 58px 0 -104px rgba(0,0,0, 0.123) , 54px -119px 0 -104px rgba(0,0,0, 0.877) , 27px -135px 0 -104px rgba(0,0,0, 0.164) , -71px -18px 0 -104px rgba(0,0,0, 0.931) , 87px -9px 0 -104px rgba(0,0,0, 0.007) , 130px 72px 0 -104px rgba(0,0,0, 0.303) , 64px -32px 0 -104px rgba(0,0,0, 0.74) , 127px -117px 0 -104px rgba(0,0,0, 0.038) , 115px 62px 0 -104px rgba(0,0,0, 0.605) , -80px 62px 0 -104px rgba(0,0,0, 0.37) , 77px 62px 0 -104px rgba(0,0,0, 0.798) , -67px 91px 0 -104px rgba(0,0,0, 0.734) , 99px -144px 0 -104px rgba(0,0,0, 0.241) , 93px 60px 0 -104px rgba(0,0,0, 0.165) , 114px 78px 0 -104px rgba(0,0,0, 0.359) , 140px -41px 0 -104px rgba(0,0,0, 0.342) , -66px 102px 0 -104px rgba(0,0,0, 0.473) , -80px -83px 0 -104px rgba(0,0,0, 0.222) , -97px 70px 0 -104px rgba(0,0,0, 0.977) , 127px 96px 0 -104px rgba(0,0,0, 0.543) , 21px 95px 0 -104px rgba(0,0,0, 0.537) , -80px 107px 0 -104px rgba(0,0,0, 0.066) , 54px -137px 0 -104px rgba(0,0,0, 0.499) , -86px 53px 0 -104px rgba(0,0,0, 0.398) , -62px 92px 0 -104px rgba(0,0,0, 0.254) , 33px -110px 0 -104px rgba(0,0,0, 0.4) , 49px -132px 0 -104px rgba(0,0,0, 0.054) , 99px -136px 0 -104px rgba(0,0,0, 0.453) , 115px -8px 0 -104px rgba(0,0,0, 0.546) , 42px 112px 0 -104px rgba(0,0,0, 0.945) , -143px 46px 0 -104px rgba(0,0,0, 0.383) , -48px 21px 0 -104px rgba(0,0,0, 0.994) , 36px -30px 0 -104px rgba(0,0,0, 0.752) , 95px -130px 0 -104px rgba(0,0,0, 0.448) , 35px 79px 0 -104px rgba(0,0,0, 0.443) , 8px 0px 0 -104px rgba(0,0,0, 0.35) , -7px 138px 0 -104px rgba(0,0,0, 0.872) , -1px -9px 0 -104px rgba(0,0,0, 0.169) , -24px -51px 0 -104px rgba(0,0,0, 0.657) , 70px 54px 0 -104px rgba(0,0,0, 0.991) , -117px -80px 0 -104px rgba(0,0,0, 0.584) , -7px -88px 0 -104px rgba(0,0,0, 0.313) , -108px -34px 0 -104px rgba(0,0,0, 0.03) , 58px 134px 0 -104px rgba(0,0,0, 0.196) , -101px 123px 0 -104px rgba(0,0,0, 0.387) , -118px 127px 0 -104px rgba(0,0,0, 0.082) , 82px 98px 0 -104px rgba(0,0,0, 0.055) , 6px 30px 0 -104px rgba(0,0,0, 0.181) , -58px 133px 0 -104px rgba(0,0,0, 0.834) , -127px 139px 0 -104px rgba(0,0,0, 0.015) , -120px -74px 0 -104px rgba(0,0,0, 0.274) , 37px 122px 0 -104px rgba(0,0,0, 0.01) , 26px -94px 0 -104px rgba(0,0,0, 0.331) , 128px -88px 0 -104px rgba(0,0,0, 0.032) , -113px 40px 0 -104px rgba(0,0,0, 0.073) , -105px -104px 0 -104px rgba(0,0,0, 0.587) , -110px -99px 0 -104px rgba(0,0,0, 0.963) , -79px -58px 0 -104px rgba(0,0,0, 0.74) , -87px -121px 0 -104px rgba(0,0,0, 0.213) , 21px -83px 0 -104px rgba(0,0,0, 0.23) , -94px -31px 0 -104px rgba(0,0,0, 0.261) , 110px 38px 0 -104px rgba(0,0,0, 0.69) , -118px -114px 0 -104px rgba(0,0,0, 0.015) , -48px -139px 0 -104px rgba(0,0,0, 0.854) , 65px 145px 0 -104px rgba(0,0,0, 0.409) , 21px 83px 0 -104px rgba(0,0,0, 0.163) , 87px 140px 0 -104px rgba(0,0,0, 0.767) , -142px -113px 0 -104px rgba(0,0,0, 0.812) , -49px -114px 0 -104px rgba(0,0,0, 0.096) , 61px 74px 0 -104px rgba(0,0,0, 0.564) , -112px -47px 0 -104px rgba(0,0,0, 0.964) , -47px -29px 0 -104px rgba(0,0,0, 0.749) , -32px -33px 0 -104px rgba(0,0,0, 0.16) , 66px -59px 0 -104px rgba(0,0,0, 0.325) , 130px 101px 0 -104px rgba(0,0,0, 0.167) , -43px -82px 0 -104px rgba(0,0,0, 0.559) , 56px -132px 0 -104px rgba(0,0,0, 0.815) , 142px 67px 0 -104px rgba(0,0,0, 0.066) , -40px 118px 0 -104px rgba(0,0,0, 0.501) , 68px -142px 0 -104px rgba(0,0,0, 0.091) , -88px -101px 0 -104px rgba(0,0,0, 0.578) , 128px 145px 0 -104px rgba(0,0,0, 0.478) , 145px 55px 0 -104px rgba(0,0,0, 0.897) , -122px 104px 0 -104px rgba(0,0,0, 0.252) , -70px -51px 0 -104px rgba(0,0,0, 0.068) , -60px -131px 0 -104px rgba(0,0,0, 0.782) , -68px 47px 0 -104px rgba(0,0,0, 0.533) , -91px -15px 0 -104px rgba(0,0,0, 0.695) , 8px -113px 0 -104px rgba(0,0,0, 0.783) , 117px -89px 0 -104px rgba(0,0,0, 0.431) , -45px -130px 0 -104px rgba(0,0,0, 0.387) , 106px -30px 0 -104px rgba(0,0,0, 0.757) , 50px 69px 0 -104px rgba(0,0,0, 0.533) , -107px -118px 0 -104px rgba(0,0,0, 0.712) , 19px -86px 0 -104px rgba(0,0,0, 0.937) , -87px 64px 0 -104px rgba(0,0,0, 0.39) , 42px 116px 0 -104px rgba(0,0,0, 0.64) , -136px -123px 0 -104px rgba(0,0,0, 0.495) , -95px 130px 0 -104px rgba(0,0,0, 0.826) , -108px 67px 0 -104px rgba(0,0,0, 0.932) , -86px -112px 0 -104px rgba(0,0,0, 0.35) , 125px -108px 0 -104px rgba(0,0,0, 0.095) , -118px 107px 0 -104px rgba(0,0,0, 0.967) , -143px -16px 0 -104px rgba(0,0,0, 0.991) , -78px -32px 0 -104px rgba(0,0,0, 0.945) , 24px -51px 0 -104px rgba(0,0,0, 0.531) , 90px 106px 0 -104px rgba(0,0,0, 0.771) , 143px 11px 0 -104px rgba(0,0,0, 0.606) , 24px -75px 0 -104px rgba(0,0,0, 0.657) , -108px -2px 0 -104px rgba(0,0,0, 0.839) , 144px 100px 0 -104px rgba(0,0,0, 0.923) , -38px -57px 0 -104px rgba(0,0,0, 0.659) , 48px -59px 0 -104px rgba(0,0,0, 0.013) , 131px 105px 0 -104px rgba(0,0,0, 0.948) , -128px -32px 0 -104px rgba(0,0,0, 0.481) , 12px -72px 0 -104px rgba(0,0,0, 0.403) , -34px -45px 0 -104px rgba(0,0,0, 0.759) , -50px 115px 0 -104px rgba(0,0,0, 0.235) , -75px -32px 0 -104px rgba(0,0,0, 0.854) , -105px 23px 0 -104px rgba(0,0,0, 0.831) , 58px -123px 0 -104px rgba(0,0,0, 0.415) , -72px 40px 0 -104px rgba(0,0,0, 0.941) , 70px 45px 0 -104px rgba(0,0,0, 0.894) , 69px 21px 0 -104px rgba(0,0,0, 0.427) , 33px -68px 0 -104px rgba(0,0,0, 0.452) , -136px 77px 0 -104px rgba(0,0,0, 0.426) , 103px -118px 0 -104px rgba(0,0,0, 0.021) , 121px -40px 0 -104px rgba(0,0,0, 0.937) , 124px -12px 0 -104px rgba(0,0,0, 0.289) , 11px 120px 0 -104px rgba(0,0,0, 0.504) , 124px -104px 0 -104px rgba(0,0,0, 0.217) , 118px 99px 0 -104px rgba(0,0,0, 0.906) , 131px 64px 0 -104px rgba(0,0,0, 0.802) , -74px -143px 0 -104px rgba(0,0,0, 0.559) , -144px 111px 0 -104px rgba(0,0,0, 0.936) , 104px -49px 0 -104px rgba(0,0,0, 0.935) , 126px 97px 0 -104px rgba(0,0,0, 0.513) , 109px 12px 0 -104px rgba(0,0,0, 0.515) , 22px -126px 0 -104px rgba(0,0,0, 0.608) , -25px 45px 0 -104px rgba(0,0,0, 0.006) , 143px 126px 0 -104px rgba(0,0,0, 0.151) , 113px -130px 0 -104px rgba(0,0,0, 0.79) , 65px -140px 0 -104px rgba(0,0,0, 0.099) , 107px 48px 0 -104px rgba(0,0,0, 0.347) , -70px -80px 0 -104px rgba(0,0,0, 0.38) , 97px -94px 0 -104px rgba(0,0,0, 0.692) , 46px 21px 0 -104px rgba(0,0,0, 0.399) , 7px 89px 0 -104px rgba(0,0,0, 0.856) , 131px 109px 0 -104px rgba(0,0,0, 1) , -131px -141px 0 -104px rgba(0,0,0, 0.971) , -64px -85px 0 -104px rgba(0,0,0, 0.354) , 4px 96px 0 -104px rgba(0,0,0, 0.601) , -116px 35px 0 -104px rgba(0,0,0, 0.174) , -96px -66px 0 -104px rgba(0,0,0, 0.358) , -54px -134px 0 -104px rgba(0,0,0, 0.883) , 91px -115px 0 -104px rgba(0,0,0, 0.197) , -64px -2px 0 -104px rgba(0,0,0, 0.426) , -47px -99px 0 -104px rgba(0,0,0, 0.76) , 20px 133px 0 -104px rgba(0,0,0, 0.941) , -104px -135px 0 -104px rgba(0,0,0, 0.236) , -99px 65px 0 -104px rgba(0,0,0, 0.197) , -121px -38px 0 -104px rgba(0,0,0, 0.104) , 118px 142px 0 -104px rgba(0,0,0, 0.947) , 129px -81px 0 -104px rgba(0,0,0, 0.234) , 27px -140px 0 -104px rgba(0,0,0, 0.369) , -51px 140px 0 -104px rgba(0,0,0, 0.949) , -52px -68px 0 -104px rgba(0,0,0, 0.655) , 101px -28px 0 -104px rgba(0,0,0, 0.373) , -24px 111px 0 -104px rgba(0,0,0, 0.577) , -139px 13px 0 -104px rgba(0,0,0, 0.964) , -121px 55px 0 -104px rgba(0,0,0, 0.148) , -124px 41px 0 -104px rgba(0,0,0, 0.172) , -77px 110px 0 -104px rgba(0,0,0, 0.061) , -129px 36px 0 -104px rgba(0,0,0, 0.716) , 2px 132px 0 -104px rgba(0,0,0, 0.188) , 22px -18px 0 -104px rgba(0,0,0, 0.033) , 99px -101px 0 -104px rgba(0,0,0, 0.756) , 114px 66px 0 -104px rgba(0,0,0, 0.206) , 54px 128px 0 -104px rgba(0,0,0, 0.781) , -99px 138px 0 -104px rgba(0,0,0, 0.339) , -125px 142px 0 -104px rgba(0,0,0, 0.667) , -116px -32px 0 -104px rgba(0,0,0, 0.769) , -115px -121px 0 -104px rgba(0,0,0, 0.386) , 127px 136px 0 -104px rgba(0,0,0, 0.771) , -10px -13px 0 -104px rgba(0,0,0, 0.043) , -37px 2px 0 -104px rgba(0,0,0, 0.66) , -59px -44px 0 -104px rgba(0,0,0, 0.37) , 78px -43px 0 -104px rgba(0,0,0, 0.196) , 33px 37px 0 -104px rgba(0,0,0, 0.757) , 65px -14px 0 -104px rgba(0,0,0, 0.596) , -51px -43px 0 -104px rgba(0,0,0, 0.513) , 15px 57px 0 -104px rgba(0,0,0, 0.816) , -95px 142px 0 -104px rgba(0,0,0, 0.51) , 19px -3px 0 -104px rgba(0,0,0, 0.711) , -29px -101px 0 -104px rgba(0,0,0, 0.043) , -83px 57px 0 -104px rgba(0,0,0, 0.026) , 48px -87px 0 -104px rgba(0,0,0, 0.862) , 108px 41px 0 -104px rgba(0,0,0, 0.921) , 69px -48px 0 -104px rgba(0,0,0, 0.896) , 131px -44px 0 -104px rgba(0,0,0, 0.894) , -106px 112px 0 -104px rgba(0,0,0, 0.223) , -35px 8px 0 -104px rgba(0,0,0, 0.731) , 117px -117px 0 -104px rgba(0,0,0, 0.836) , -143px -19px 0 -104px rgba(0,0,0, 0.555) , 44px 4px 0 -104px rgba(0,0,0, 0.706) , -27px -134px 0 -104px rgba(0,0,0, 0.806) , 141px -61px 0 -104px rgba(0,0,0, 0.864) , -95px 57px 0 -104px rgba(0,0,0, 0.464) , -139px -14px 0 -104px rgba(0,0,0, 0.451) , -93px 105px 0 -104px rgba(0,0,0, 0.535) , -128px -30px 0 -104px rgba(0,0,0, 0.162) , -79px 64px 0 -104px rgba(0,0,0, 0.195) , 95px -43px 0 -104px rgba(0,0,0, 0.865) , -50px -31px 0 -104px rgba(0,0,0, 0.952) , 29px -84px 0 -104px rgba(0,0,0, 0.935) , 29px 116px 0 -104px rgba(0,0,0, 0.69) , -112px -49px 0 -104px rgba(0,0,0, 0.104) , -121px -10px 0 -104px rgba(0,0,0, 0.862) , -102px 52px 0 -104px rgba(0,0,0, 0.751) , 126px 130px 0 -104px rgba(0,0,0, 0.962) , 141px 132px 0 -104px rgba(0,0,0, 0.138) , -88px 86px 0 -104px rgba(0,0,0, 0.299) , -101px 68px 0 -104px rgba(0,0,0, 0.142) , -77px -80px 0 -104px rgba(0,0,0, 0.453) , -101px -63px 0 -104px rgba(0,0,0, 0.73) , -80px -41px 0 -104px rgba(0,0,0, 0.52) , -33px -61px 0 -104px rgba(0,0,0, 0.068) , -134px -141px 0 -104px rgba(0,0,0, 0.319) , -68px 89px 0 -104px rgba(0,0,0, 0.657) , -15px 29px 0 -104px rgba(0,0,0, 0.796) , -119px 96px 0 -104px rgba(0,0,0, 0.919) , -133px 29px 0 -104px rgba(0,0,0, 0.361) , -97px 25px 0 -104px rgba(0,0,0, 0.994) , 103px -1px 0 -104px rgba(0,0,0, 0.317) , 80px -98px 0 -104px rgba(0,0,0, 0.218) , 131px 3px 0 -104px rgba(0,0,0, 0.534) , 28px -26px 0 -104px rgba(0,0,0, 0.734) , -26px 86px 0 -104px rgba(0,0,0, 0.289) , 38px 122px 0 -104px rgba(0,0,0, 0.383) , 9px -82px 0 -104px rgba(0,0,0, 0.937) , -133px 42px 0 -104px rgba(0,0,0, 0.11) , -62px 110px 0 -104px rgba(0,0,0, 0.859) , -124px 100px 0 -104px rgba(0,0,0, 0.225) , -139px 36px 0 -104px rgba(0,0,0, 0.093) , -129px 85px 0 -104px rgba(0,0,0, 0.189) , -46px 48px 0 -104px rgba(0,0,0, 0.684) , 79px -43px 0 -104px rgba(0,0,0, 0.929) , 4px 72px 0 -104px rgba(0,0,0, 0.759);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.70741s linear infinite;
          animation: orb 7439.70741s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}