/* START Reset default styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END Reset default styles */


/* START Generic elements */
body {
  /*font:normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif !important;*/
  /*font-family: proxima-nova, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  color: #eee;
}

h2 {
  font-style: normal;
  font-weight: 600;

  font-size: 4rem;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
}
section {
  padding-top: 3em;
  padding-bottom: 4em;
}
section h1 {
  padding-bottom: 0.2em;
}

p {
  font-size: 1.1em;
}
p a {
  color: #e6b356;
}
p a:hover {
  color: #d6a346;
}

.left {
  float: left;
}
.right {
  float: right;
}
.footer {
  text-align: center;
}

/* END Generic elements */


/* START Classes */
.background {
  content: "";
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;

  background-color: #131313;

  opacity: 0.3;
  background: url("images/subtle_white_feathers.png"); 

  z-index: -1;
}

.rocket-image {
  /*border-radius: 50%;*/
  border: 5px solid #f1f1f1;
  border-radius: 2px;

  width:100%;
}

.title {
  font-weight: 300;
  font-size: 2.8em;
  text-transform: uppercase;
  font-family: Lato;
  line-height: 1.6em;
  letter-spacing: .1em;
  color: #111133;
}

.bigger-icon {
  font-size: 1.3em !important;
}

.logo {
  padding: 0;
  margin: 0;

  height: inherit;

  height: 250px;
  margin-top: -100px;

  overflow: hidden;
}

.page-header {
  border-bottom: 1px solid #c69336 !important;
}

.section-blue {
  background: radial-gradient(7em circle at 0% 50%, rgba(199,215,255, 0.5), rgba(255,255,255,0));
}

.section-light {
  /*background-color: #153054;*/
  color: #FFF;
  background-color: #222222;
}

.content-buffer {
  width: 100%;
  height: 40%;
  max-height: 600px;
}

.news-row {
  margin-bottom: 3em;
}

.gene-img {
  border-radius: 50%;
  margin-left: 10%;

  border: 7px solid #f1f1f1;
}

.news-video {
  width: 100%;
  height: auto;
  min-height: 300px;

  border: 6px solid #f1f1f1;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  height: auto;
  margin: 0 auto;
  border: 7px solid #f1f1f1;
}

.team-member h4 {
  margin-top: 25px;
  font-size: 14px;
  margin-bottom: 0;
  text-transform: none;
  color: #111;
}

.team-member p {
  margin-top: 0;
}

.footer {
  margin-top: 1rem;
}
.footer a {
  text-decoration: underline;
  color: black;
}
.contact-message-field {
  min-height: 8em;
}
/* END Classes */

.nebula-a {
  pointer-events: none;
}

.nebula-a div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
}
.nebula-a div:not(.planet-x):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}

.planet-x {
  background: -webkit-radial-gradient(center ellipse, #00d0ff 1%,#00b7f9 39%,#00b7f9 39%,#1763e0 100%);
  background: radial-gradient(ellipse at center, #00d0ff 1%,#00b7f9 39%,#00b7f9 39%,#1763e0 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(0, 107, 255, 0.4), 0 0 22px 11px rgba(0, 203, 255, 0.13);
}
.planet-x-moon-1 {
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  -webkit-animation: orb 7s linear infinite;
          animation: orb 7s linear infinite;
}
.planet-x-moon-1:before {
  height: 4px;
  width: 4px;
  background: #ccc;
  margin-top: -3px;
  margin-left: -3px;
}
.planet-x-moon-2 {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 9s linear infinite;
          animation: orb 9s linear infinite;
}
.planet-x-moon-2:before {
  height: 5px;
  width: 5px;
  background: #bf8e86;
  margin-top: -2px;
  margin-left: -2px;
}

/*
  Malik Dellidj - @Dathink

  Solar System orbit animation true time scaled

  Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)
*/
.solar-syst {
  position: absolute;
  top: 0;
  left: -25%;

  margin: 0 auto;
  width: 100%;
  height: 50%;

  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);

  pointer-events: none;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: -webkit-radial-gradient(center ellipse, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.18673s linear infinite;
          animation: orb 7.18673s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.45553s linear infinite;
          animation: orb 18.45553s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.24404s linear infinite;
          animation: orb 2.24404s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.42613s linear infinite;
          animation: orb 56.42613s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.72282s linear infinite;
          animation: orb 355.72282s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.69525s linear infinite;
          animation: orb 882.69525s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  -webkit-transform: rotateZ(-52deg);
          transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.69525s linear infinite;
          animation: orb 882.69525s linear infinite;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-transform-origin: 52% 60%;
          transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4002s linear infinite;
          animation: orb 2512.4002s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.78386s linear infinite;
          animation: orb 4911.78386s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: .7;
  border-color: transparent !important;
  height: 300px;
  width: 300px;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.95583s linear infinite;
          animation: orb 179.95583s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  height: 210px;
  width: 210px;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -36px -111px 0 -104px rgba(255, 255, 255, 0.04) , 66px 133px 0 -104px rgba(0,0,0, 0.132) , 87px -120px 0 -104px rgba(0,0,0, 0.365) , 131px 131px 0 -104px rgba(0,0,0, 0.456) , -95px 102px 0 -104px rgba(0,0,0, 0.92) , -68px 75px 0 -104px rgba(0,0,0, 0.151) , -24px -109px 0 -104px rgba(0,0,0, 0.121) , 59px -141px 0 -104px rgba(0,0,0, 0.84) , 66px 49px 0 -104px rgba(0,0,0, 0.535) , -20px 55px 0 -104px rgba(0,0,0, 0.08) , 49px 82px 0 -104px rgba(0,0,0, 0.283) , 99px -125px 0 -104px rgba(0,0,0, 0.401) , -132px 138px 0 -104px rgba(0,0,0, 0.292) , 131px -36px 0 -104px rgba(0,0,0, 0.125) , -139px 87px 0 -104px rgba(0,0,0, 0.742) , 12px 73px 0 -104px rgba(0,0,0, 0.344) , 76px 127px 0 -104px rgba(0,0,0, 0.892) , -71px 80px 0 -104px rgba(0,0,0, 0.064) , -18px 33px 0 -104px rgba(0,0,0, 0.171) , 4px -105px 0 -104px rgba(0,0,0, 0.286) , -103px 62px 0 -104px rgba(0,0,0, 0.876) , 92px -101px 0 -104px rgba(0,0,0, 0.127) , -31px 61px 0 -104px rgba(0,0,0, 0.959) , 54px 40px 0 -104px rgba(0,0,0, 0.922) , 141px -12px 0 -104px rgba(0,0,0, 0.936) , -144px -105px 0 -104px rgba(0,0,0, 0.294) , 6px 23px 0 -104px rgba(0,0,0, 0.224) , 94px 33px 0 -104px rgba(0,0,0, 0.879) , 25px 19px 0 -104px rgba(0,0,0, 0.523) , -136px -135px 0 -104px rgba(0,0,0, 0.019) , 55px 10px 0 -104px rgba(0,0,0, 0.501) , -52px 110px 0 -104px rgba(0,0,0, 0.468) , 7px 86px 0 -104px rgba(0,0,0, 0.966) , -39px 134px 0 -104px rgba(0,0,0, 0.796) , -84px -140px 0 -104px rgba(0,0,0, 0.555) , 5px -109px 0 -104px rgba(0,0,0, 0.039) , 33px 90px 0 -104px rgba(0,0,0, 0.919) , -33px 130px 0 -104px rgba(0,0,0, 0.625) , 120px -23px 0 -104px rgba(0,0,0, 0.472) , -98px 84px 0 -104px rgba(0,0,0, 0.47) , -52px -28px 0 -104px rgba(0,0,0, 0.196) , -130px -139px 0 -104px rgba(0,0,0, 0.931) , 101px -42px 0 -104px rgba(0,0,0, 0.692) , 31px 9px 0 -104px rgba(0,0,0, 0.582) , 54px -23px 0 -104px rgba(0,0,0, 0.955) , -92px 137px 0 -104px rgba(0,0,0, 0.073) , -12px -43px 0 -104px rgba(0,0,0, 0.184) , -6px 117px 0 -104px rgba(0,0,0, 0.136) , -30px -52px 0 -104px rgba(0,0,0, 0.733) , -84px 22px 0 -104px rgba(0,0,0, 0.809) , 92px 131px 0 -104px rgba(0,0,0, 0.328) , 17px -8px 0 -104px rgba(0,0,0, 0.896) , 20px 137px 0 -104px rgba(0,0,0, 0.761) , 61px -1px 0 -104px rgba(0,0,0, 0.93) , -31px -93px 0 -104px rgba(0,0,0, 0.325) , 4px 97px 0 -104px rgba(0,0,0, 0.916) , 95px 86px 0 -104px rgba(0,0,0, 0.066) , 93px 111px 0 -104px rgba(0,0,0, 0.512) , -69px -6px 0 -104px rgba(0,0,0, 0.299) , 94px -121px 0 -104px rgba(0,0,0, 0.111) , -18px 121px 0 -104px rgba(0,0,0, 0.268) , -24px 97px 0 -104px rgba(0,0,0, 0.106) , 101px -62px 0 -104px rgba(0,0,0, 0.894) , 83px -112px 0 -104px rgba(0,0,0, 0.572) , 46px 13px 0 -104px rgba(0,0,0, 0.766) , 67px 61px 0 -104px rgba(0,0,0, 0.719) , 97px 24px 0 -104px rgba(0,0,0, 0.602) , 145px 119px 0 -104px rgba(0,0,0, 0.35) , -117px 38px 0 -104px rgba(0,0,0, 0.425) , 78px -10px 0 -104px rgba(0,0,0, 0.304) , -6px 125px 0 -104px rgba(0,0,0, 0.883) , 126px -103px 0 -104px rgba(0,0,0, 0.379) , -57px 133px 0 -104px rgba(0,0,0, 0.37) , 65px 104px 0 -104px rgba(0,0,0, 0.337) , 82px 17px 0 -104px rgba(0,0,0, 0.695) , 43px -37px 0 -104px rgba(0,0,0, 0.822) , -107px -117px 0 -104px rgba(0,0,0, 0.329) , 40px -2px 0 -104px rgba(0,0,0, 0.144) , 63px 45px 0 -104px rgba(0,0,0, 0.274) , -76px 55px 0 -104px rgba(0,0,0, 0.432) , 65px -30px 0 -104px rgba(0,0,0, 0.63) , -122px 91px 0 -104px rgba(0,0,0, 0.65) , -132px -125px 0 -104px rgba(0,0,0, 0.986) , -95px -72px 0 -104px rgba(0,0,0, 0.146) , 133px 46px 0 -104px rgba(0,0,0, 0.829) , -12px 90px 0 -104px rgba(0,0,0, 0.131) , -36px -64px 0 -104px rgba(0,0,0, 0.123) , 115px -62px 0 -104px rgba(0,0,0, 0.296) , 70px -84px 0 -104px rgba(0,0,0, 0.141) , 81px 3px 0 -104px rgba(0,0,0, 0.681) , 7px 18px 0 -104px rgba(0,0,0, 0.845) , 85px 78px 0 -104px rgba(0,0,0, 0.011) , -34px 59px 0 -104px rgba(0,0,0, 0.128) , -30px 11px 0 -104px rgba(0,0,0, 0.551) , 135px 20px 0 -104px rgba(0,0,0, 0.978) , -7px 11px 0 -104px rgba(0,0,0, 0.843) , 0px 30px 0 -104px rgba(0,0,0, 0.191) , -40px -90px 0 -104px rgba(0,0,0, 0.398) , -29px 102px 0 -104px rgba(0,0,0, 0.313) , -115px 127px 0 -104px rgba(0,0,0, 0.808) , -99px -95px 0 -104px rgba(0,0,0, 0.342) , 55px 140px 0 -104px rgba(0,0,0, 0.206) , -31px 96px 0 -104px rgba(0,0,0, 0.173) , 140px -100px 0 -104px rgba(0,0,0, 0.692) , 114px -96px 0 -104px rgba(0,0,0, 0.206) , -102px -120px 0 -104px rgba(0,0,0, 0.008) , 131px 132px 0 -104px rgba(0,0,0, 0.806) , -42px 22px 0 -104px rgba(0,0,0, 0.432) , -92px 94px 0 -104px rgba(0,0,0, 0.468) , -74px 15px 0 -104px rgba(0,0,0, 0.481) , -109px -63px 0 -104px rgba(0,0,0, 0.176) , -24px -104px 0 -104px rgba(0,0,0, 0.446) , 88px -105px 0 -104px rgba(0,0,0, 0.362) , 19px -80px 0 -104px rgba(0,0,0, 0.735) , -88px -4px 0 -104px rgba(0,0,0, 0.638) , -125px 57px 0 -104px rgba(0,0,0, 0.262) , 32px 111px 0 -104px rgba(0,0,0, 0.163) , -24px -44px 0 -104px rgba(0,0,0, 0.504) , 40px 4px 0 -104px rgba(0,0,0, 0.833) , 55px -32px 0 -104px rgba(0,0,0, 0.784) , -96px 101px 0 -104px rgba(0,0,0, 0.921) , 28px 26px 0 -104px rgba(0,0,0, 0.29) , 85px -143px 0 -104px rgba(0,0,0, 0.673) , 66px -51px 0 -104px rgba(0,0,0, 0.966) , -16px 73px 0 -104px rgba(0,0,0, 0.506) , 103px -32px 0 -104px rgba(0,0,0, 0.273) , 25px -100px 0 -104px rgba(0,0,0, 0.966) , 140px 0px 0 -104px rgba(0,0,0, 0.776) , -118px 64px 0 -104px rgba(0,0,0, 0.608) , -20px -115px 0 -104px rgba(0,0,0, 0.871) , 62px 84px 0 -104px rgba(0,0,0, 0.935) , 62px 70px 0 -104px rgba(0,0,0, 0.547) , 32px 87px 0 -104px rgba(0,0,0, 0.33) , 117px 95px 0 -104px rgba(0,0,0, 0.986) , 15px -26px 0 -104px rgba(0,0,0, 0.074) , -135px 115px 0 -104px rgba(0,0,0, 0.012) , -50px 65px 0 -104px rgba(0,0,0, 0.309) , -65px -5px 0 -104px rgba(0,0,0, 0.977) , -41px 107px 0 -104px rgba(0,0,0, 0.233) , 46px 123px 0 -104px rgba(0,0,0, 0.527) , 112px -80px 0 -104px rgba(0,0,0, 0.689) , 14px 97px 0 -104px rgba(0,0,0, 0.807) , 80px 58px 0 -104px rgba(0,0,0, 0.123) , 54px -119px 0 -104px rgba(0,0,0, 0.877) , 27px -135px 0 -104px rgba(0,0,0, 0.164) , -71px -18px 0 -104px rgba(0,0,0, 0.931) , 87px -9px 0 -104px rgba(0,0,0, 0.007) , 130px 72px 0 -104px rgba(0,0,0, 0.303) , 64px -32px 0 -104px rgba(0,0,0, 0.74) , 127px -117px 0 -104px rgba(0,0,0, 0.038) , 115px 62px 0 -104px rgba(0,0,0, 0.605) , -80px 62px 0 -104px rgba(0,0,0, 0.37) , 77px 62px 0 -104px rgba(0,0,0, 0.798) , -67px 91px 0 -104px rgba(0,0,0, 0.734) , 99px -144px 0 -104px rgba(0,0,0, 0.241) , 93px 60px 0 -104px rgba(0,0,0, 0.165) , 114px 78px 0 -104px rgba(0,0,0, 0.359) , 140px -41px 0 -104px rgba(0,0,0, 0.342) , -66px 102px 0 -104px rgba(0,0,0, 0.473) , -80px -83px 0 -104px rgba(0,0,0, 0.222) , -97px 70px 0 -104px rgba(0,0,0, 0.977) , 127px 96px 0 -104px rgba(0,0,0, 0.543) , 21px 95px 0 -104px rgba(0,0,0, 0.537) , -80px 107px 0 -104px rgba(0,0,0, 0.066) , 54px -137px 0 -104px rgba(0,0,0, 0.499) , -86px 53px 0 -104px rgba(0,0,0, 0.398) , -62px 92px 0 -104px rgba(0,0,0, 0.254) , 33px -110px 0 -104px rgba(0,0,0, 0.4) , 49px -132px 0 -104px rgba(0,0,0, 0.054) , 99px -136px 0 -104px rgba(0,0,0, 0.453) , 115px -8px 0 -104px rgba(0,0,0, 0.546) , 42px 112px 0 -104px rgba(0,0,0, 0.945) , -143px 46px 0 -104px rgba(0,0,0, 0.383) , -48px 21px 0 -104px rgba(0,0,0, 0.994) , 36px -30px 0 -104px rgba(0,0,0, 0.752) , 95px -130px 0 -104px rgba(0,0,0, 0.448) , 35px 79px 0 -104px rgba(0,0,0, 0.443) , 8px 0px 0 -104px rgba(0,0,0, 0.35) , -7px 138px 0 -104px rgba(0,0,0, 0.872) , -1px -9px 0 -104px rgba(0,0,0, 0.169) , -24px -51px 0 -104px rgba(0,0,0, 0.657) , 70px 54px 0 -104px rgba(0,0,0, 0.991) , -117px -80px 0 -104px rgba(0,0,0, 0.584) , -7px -88px 0 -104px rgba(0,0,0, 0.313) , -108px -34px 0 -104px rgba(0,0,0, 0.03) , 58px 134px 0 -104px rgba(0,0,0, 0.196) , -101px 123px 0 -104px rgba(0,0,0, 0.387) , -118px 127px 0 -104px rgba(0,0,0, 0.082) , 82px 98px 0 -104px rgba(0,0,0, 0.055) , 6px 30px 0 -104px rgba(0,0,0, 0.181) , -58px 133px 0 -104px rgba(0,0,0, 0.834) , -127px 139px 0 -104px rgba(0,0,0, 0.015) , -120px -74px 0 -104px rgba(0,0,0, 0.274) , 37px 122px 0 -104px rgba(0,0,0, 0.01) , 26px -94px 0 -104px rgba(0,0,0, 0.331) , 128px -88px 0 -104px rgba(0,0,0, 0.032) , -113px 40px 0 -104px rgba(0,0,0, 0.073) , -105px -104px 0 -104px rgba(0,0,0, 0.587) , -110px -99px 0 -104px rgba(0,0,0, 0.963) , -79px -58px 0 -104px rgba(0,0,0, 0.74) , -87px -121px 0 -104px rgba(0,0,0, 0.213) , 21px -83px 0 -104px rgba(0,0,0, 0.23) , -94px -31px 0 -104px rgba(0,0,0, 0.261) , 110px 38px 0 -104px rgba(0,0,0, 0.69) , -118px -114px 0 -104px rgba(0,0,0, 0.015) , -48px -139px 0 -104px rgba(0,0,0, 0.854) , 65px 145px 0 -104px rgba(0,0,0, 0.409) , 21px 83px 0 -104px rgba(0,0,0, 0.163) , 87px 140px 0 -104px rgba(0,0,0, 0.767) , -142px -113px 0 -104px rgba(0,0,0, 0.812) , -49px -114px 0 -104px rgba(0,0,0, 0.096) , 61px 74px 0 -104px rgba(0,0,0, 0.564) , -112px -47px 0 -104px rgba(0,0,0, 0.964) , -47px -29px 0 -104px rgba(0,0,0, 0.749) , -32px -33px 0 -104px rgba(0,0,0, 0.16) , 66px -59px 0 -104px rgba(0,0,0, 0.325) , 130px 101px 0 -104px rgba(0,0,0, 0.167) , -43px -82px 0 -104px rgba(0,0,0, 0.559) , 56px -132px 0 -104px rgba(0,0,0, 0.815) , 142px 67px 0 -104px rgba(0,0,0, 0.066) , -40px 118px 0 -104px rgba(0,0,0, 0.501) , 68px -142px 0 -104px rgba(0,0,0, 0.091) , -88px -101px 0 -104px rgba(0,0,0, 0.578) , 128px 145px 0 -104px rgba(0,0,0, 0.478) , 145px 55px 0 -104px rgba(0,0,0, 0.897) , -122px 104px 0 -104px rgba(0,0,0, 0.252) , -70px -51px 0 -104px rgba(0,0,0, 0.068) , -60px -131px 0 -104px rgba(0,0,0, 0.782) , -68px 47px 0 -104px rgba(0,0,0, 0.533) , -91px -15px 0 -104px rgba(0,0,0, 0.695) , 8px -113px 0 -104px rgba(0,0,0, 0.783) , 117px -89px 0 -104px rgba(0,0,0, 0.431) , -45px -130px 0 -104px rgba(0,0,0, 0.387) , 106px -30px 0 -104px rgba(0,0,0, 0.757) , 50px 69px 0 -104px rgba(0,0,0, 0.533) , -107px -118px 0 -104px rgba(0,0,0, 0.712) , 19px -86px 0 -104px rgba(0,0,0, 0.937) , -87px 64px 0 -104px rgba(0,0,0, 0.39) , 42px 116px 0 -104px rgba(0,0,0, 0.64) , -136px -123px 0 -104px rgba(0,0,0, 0.495) , -95px 130px 0 -104px rgba(0,0,0, 0.826) , -108px 67px 0 -104px rgba(0,0,0, 0.932) , -86px -112px 0 -104px rgba(0,0,0, 0.35) , 125px -108px 0 -104px rgba(0,0,0, 0.095) , -118px 107px 0 -104px rgba(0,0,0, 0.967) , -143px -16px 0 -104px rgba(0,0,0, 0.991) , -78px -32px 0 -104px rgba(0,0,0, 0.945) , 24px -51px 0 -104px rgba(0,0,0, 0.531) , 90px 106px 0 -104px rgba(0,0,0, 0.771) , 143px 11px 0 -104px rgba(0,0,0, 0.606) , 24px -75px 0 -104px rgba(0,0,0, 0.657) , -108px -2px 0 -104px rgba(0,0,0, 0.839) , 144px 100px 0 -104px rgba(0,0,0, 0.923) , -38px -57px 0 -104px rgba(0,0,0, 0.659) , 48px -59px 0 -104px rgba(0,0,0, 0.013) , 131px 105px 0 -104px rgba(0,0,0, 0.948) , -128px -32px 0 -104px rgba(0,0,0, 0.481) , 12px -72px 0 -104px rgba(0,0,0, 0.403) , -34px -45px 0 -104px rgba(0,0,0, 0.759) , -50px 115px 0 -104px rgba(0,0,0, 0.235) , -75px -32px 0 -104px rgba(0,0,0, 0.854) , -105px 23px 0 -104px rgba(0,0,0, 0.831) , 58px -123px 0 -104px rgba(0,0,0, 0.415) , -72px 40px 0 -104px rgba(0,0,0, 0.941) , 70px 45px 0 -104px rgba(0,0,0, 0.894) , 69px 21px 0 -104px rgba(0,0,0, 0.427) , 33px -68px 0 -104px rgba(0,0,0, 0.452) , -136px 77px 0 -104px rgba(0,0,0, 0.426) , 103px -118px 0 -104px rgba(0,0,0, 0.021) , 121px -40px 0 -104px rgba(0,0,0, 0.937) , 124px -12px 0 -104px rgba(0,0,0, 0.289) , 11px 120px 0 -104px rgba(0,0,0, 0.504) , 124px -104px 0 -104px rgba(0,0,0, 0.217) , 118px 99px 0 -104px rgba(0,0,0, 0.906) , 131px 64px 0 -104px rgba(0,0,0, 0.802) , -74px -143px 0 -104px rgba(0,0,0, 0.559) , -144px 111px 0 -104px rgba(0,0,0, 0.936) , 104px -49px 0 -104px rgba(0,0,0, 0.935) , 126px 97px 0 -104px rgba(0,0,0, 0.513) , 109px 12px 0 -104px rgba(0,0,0, 0.515) , 22px -126px 0 -104px rgba(0,0,0, 0.608) , -25px 45px 0 -104px rgba(0,0,0, 0.006) , 143px 126px 0 -104px rgba(0,0,0, 0.151) , 113px -130px 0 -104px rgba(0,0,0, 0.79) , 65px -140px 0 -104px rgba(0,0,0, 0.099) , 107px 48px 0 -104px rgba(0,0,0, 0.347) , -70px -80px 0 -104px rgba(0,0,0, 0.38) , 97px -94px 0 -104px rgba(0,0,0, 0.692) , 46px 21px 0 -104px rgba(0,0,0, 0.399) , 7px 89px 0 -104px rgba(0,0,0, 0.856) , 131px 109px 0 -104px rgba(0,0,0, 1) , -131px -141px 0 -104px rgba(0,0,0, 0.971) , -64px -85px 0 -104px rgba(0,0,0, 0.354) , 4px 96px 0 -104px rgba(0,0,0, 0.601) , -116px 35px 0 -104px rgba(0,0,0, 0.174) , -96px -66px 0 -104px rgba(0,0,0, 0.358) , -54px -134px 0 -104px rgba(0,0,0, 0.883) , 91px -115px 0 -104px rgba(0,0,0, 0.197) , -64px -2px 0 -104px rgba(0,0,0, 0.426) , -47px -99px 0 -104px rgba(0,0,0, 0.76) , 20px 133px 0 -104px rgba(0,0,0, 0.941) , -104px -135px 0 -104px rgba(0,0,0, 0.236) , -99px 65px 0 -104px rgba(0,0,0, 0.197) , -121px -38px 0 -104px rgba(0,0,0, 0.104) , 118px 142px 0 -104px rgba(0,0,0, 0.947) , 129px -81px 0 -104px rgba(0,0,0, 0.234) , 27px -140px 0 -104px rgba(0,0,0, 0.369) , -51px 140px 0 -104px rgba(0,0,0, 0.949) , -52px -68px 0 -104px rgba(0,0,0, 0.655) , 101px -28px 0 -104px rgba(0,0,0, 0.373) , -24px 111px 0 -104px rgba(0,0,0, 0.577) , -139px 13px 0 -104px rgba(0,0,0, 0.964) , -121px 55px 0 -104px rgba(0,0,0, 0.148) , -124px 41px 0 -104px rgba(0,0,0, 0.172) , -77px 110px 0 -104px rgba(0,0,0, 0.061) , -129px 36px 0 -104px rgba(0,0,0, 0.716) , 2px 132px 0 -104px rgba(0,0,0, 0.188) , 22px -18px 0 -104px rgba(0,0,0, 0.033) , 99px -101px 0 -104px rgba(0,0,0, 0.756) , 114px 66px 0 -104px rgba(0,0,0, 0.206) , 54px 128px 0 -104px rgba(0,0,0, 0.781) , -99px 138px 0 -104px rgba(0,0,0, 0.339) , -125px 142px 0 -104px rgba(0,0,0, 0.667) , -116px -32px 0 -104px rgba(0,0,0, 0.769) , -115px -121px 0 -104px rgba(0,0,0, 0.386) , 127px 136px 0 -104px rgba(0,0,0, 0.771) , -10px -13px 0 -104px rgba(0,0,0, 0.043) , -37px 2px 0 -104px rgba(0,0,0, 0.66) , -59px -44px 0 -104px rgba(0,0,0, 0.37) , 78px -43px 0 -104px rgba(0,0,0, 0.196) , 33px 37px 0 -104px rgba(0,0,0, 0.757) , 65px -14px 0 -104px rgba(0,0,0, 0.596) , -51px -43px 0 -104px rgba(0,0,0, 0.513) , 15px 57px 0 -104px rgba(0,0,0, 0.816) , -95px 142px 0 -104px rgba(0,0,0, 0.51) , 19px -3px 0 -104px rgba(0,0,0, 0.711) , -29px -101px 0 -104px rgba(0,0,0, 0.043) , -83px 57px 0 -104px rgba(0,0,0, 0.026) , 48px -87px 0 -104px rgba(0,0,0, 0.862) , 108px 41px 0 -104px rgba(0,0,0, 0.921) , 69px -48px 0 -104px rgba(0,0,0, 0.896) , 131px -44px 0 -104px rgba(0,0,0, 0.894) , -106px 112px 0 -104px rgba(0,0,0, 0.223) , -35px 8px 0 -104px rgba(0,0,0, 0.731) , 117px -117px 0 -104px rgba(0,0,0, 0.836) , -143px -19px 0 -104px rgba(0,0,0, 0.555) , 44px 4px 0 -104px rgba(0,0,0, 0.706) , -27px -134px 0 -104px rgba(0,0,0, 0.806) , 141px -61px 0 -104px rgba(0,0,0, 0.864) , -95px 57px 0 -104px rgba(0,0,0, 0.464) , -139px -14px 0 -104px rgba(0,0,0, 0.451) , -93px 105px 0 -104px rgba(0,0,0, 0.535) , -128px -30px 0 -104px rgba(0,0,0, 0.162) , -79px 64px 0 -104px rgba(0,0,0, 0.195) , 95px -43px 0 -104px rgba(0,0,0, 0.865) , -50px -31px 0 -104px rgba(0,0,0, 0.952) , 29px -84px 0 -104px rgba(0,0,0, 0.935) , 29px 116px 0 -104px rgba(0,0,0, 0.69) , -112px -49px 0 -104px rgba(0,0,0, 0.104) , -121px -10px 0 -104px rgba(0,0,0, 0.862) , -102px 52px 0 -104px rgba(0,0,0, 0.751) , 126px 130px 0 -104px rgba(0,0,0, 0.962) , 141px 132px 0 -104px rgba(0,0,0, 0.138) , -88px 86px 0 -104px rgba(0,0,0, 0.299) , -101px 68px 0 -104px rgba(0,0,0, 0.142) , -77px -80px 0 -104px rgba(0,0,0, 0.453) , -101px -63px 0 -104px rgba(0,0,0, 0.73) , -80px -41px 0 -104px rgba(0,0,0, 0.52) , -33px -61px 0 -104px rgba(0,0,0, 0.068) , -134px -141px 0 -104px rgba(0,0,0, 0.319) , -68px 89px 0 -104px rgba(0,0,0, 0.657) , -15px 29px 0 -104px rgba(0,0,0, 0.796) , -119px 96px 0 -104px rgba(0,0,0, 0.919) , -133px 29px 0 -104px rgba(0,0,0, 0.361) , -97px 25px 0 -104px rgba(0,0,0, 0.994) , 103px -1px 0 -104px rgba(0,0,0, 0.317) , 80px -98px 0 -104px rgba(0,0,0, 0.218) , 131px 3px 0 -104px rgba(0,0,0, 0.534) , 28px -26px 0 -104px rgba(0,0,0, 0.734) , -26px 86px 0 -104px rgba(0,0,0, 0.289) , 38px 122px 0 -104px rgba(0,0,0, 0.383) , 9px -82px 0 -104px rgba(0,0,0, 0.937) , -133px 42px 0 -104px rgba(0,0,0, 0.11) , -62px 110px 0 -104px rgba(0,0,0, 0.859) , -124px 100px 0 -104px rgba(0,0,0, 0.225) , -139px 36px 0 -104px rgba(0,0,0, 0.093) , -129px 85px 0 -104px rgba(0,0,0, 0.189) , -46px 48px 0 -104px rgba(0,0,0, 0.684) , 79px -43px 0 -104px rgba(0,0,0, 0.929) , 4px 72px 0 -104px rgba(0,0,0, 0.759);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.70741s linear infinite;
          animation: orb 7439.70741s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}